**.o
**.exe
**.hi
ignored
sketches

# Generated front-end
**/AbsSediment.hs
**/DocSediment.txt
**/ErrM.hs
**/LexSediment.hs
**/LexSediment.x
**/ParSediment.hs
**/ParSediment.y
**/PrintSediment.hs
**/SkelSediment.hs
**/TestSediment.hs
**/AbsSediment.hs.bak
**/DocSediment.txt.bak
**/ErrM.hs.bak
**/LexSediment.hs.bak
**/LexSediment.x.bak
**/ParSediment.hs.bak
**/ParSediment.y.bak
**/PrintSediment.hs.bak
**/SkelSediment.hs.bak
**/TestSediment.hs.bak

# Stack-generated
.stack-work/
*~